.form-field {
    min-width: 100%;
}

.form-item {
    padding-top: 1%;
}

textarea {
    font-family: 'Noto Serif CJK SC', 'Source Han Serif SC', 'Source Han Serif CN', 'Source Han Serif', 'source-han-serif-sc', serif;
    letter-spacing: 2px;
}